html{
    background-color: rgb(56, 134, 56);
    font-family: 'Edu TAS Beginner', cursive;
    display: flex;
    justify-content: center;
}
input{
    margin-top: 50px;
    width: 80vh;
    height: 25px;
    box-shadow: 4px 4px 4px;
}